In [3]:
x=10
type(x)

int

In [2]:
x=10.78
type(x)

float

In [4]:
x=10j
type(x)

complex

In [5]:
num=10>9
type(num)

bool

In [6]:
num

True

In [7]:
name ="arun"
len(name)

4

In [8]:
name[2]

'u'

In [9]:
type(name)

str

In [10]:
name[2] = "a"

TypeError: 'str' object does not support item assignment

In [14]:
name[1:4]

'run'

In [15]:
name.upper()

'ARUN'

In [16]:
name[-2]

'u'

In [17]:
mylist = [10,20,30,40,"arun","aman"]
mylist

[10, 20, 30, 40, 'arun', 'aman']

In [18]:
mylist[2:5]

[30, 40, 'arun']

In [19]:
mylist[1] = 25
mylist

[10, 25, 30, 40, 'arun', 'aman']

In [20]:
mylist.append(50)
mylist

[10, 25, 30, 40, 'arun', 'aman', 50]

In [21]:
mylist.insert(1,20)
mylist

[10, 20, 25, 30, 40, 'arun', 'aman', 50]

In [22]:
mylist.reverse()
mylist

[50, 'aman', 'arun', 40, 30, 25, 20, 10]

courses ={1:'python',2:'data science','third':'ML'}
courses

In [25]:
courses['third']

'ML'

In [26]:
courses.get('third')

'ML'

In [27]:
courses['third'] = 'AI'
courses

{1: 'python', 2: 'data science', 'third': 'AI'}

In [29]:
courses['four'] = 'ML'
courses

{1: 'python', 2: 'data science', 'third': 'AI', 'four': 'ML'}

In [30]:
animals = (10,10,20,'tiger','lion','giraffe','tiger')
animals[2]

20

In [31]:
animals.count('tiger')

2

In [33]:
myset = {10,20,30,30,40,'course','anu'}
myset

{10, 20, 30, 40, 'anu', 'course'}

In [34]:
myset[2]

TypeError: 'set' object is not subscriptable

In [35]:
range(10)

range(0, 10)

In [36]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]